@model ICollection<ProjetoFatec.Domain.Entities.Comentario>;

@if (Model.Count > 0)
{
    @foreach (var comentario in Model.OrderByDescending(c=>c.DataComentario))
    {
        <div class="container-fluid divPoste comentario" style="background-color:white;">
            <div class="row-4 divPostagem comentario" href="#">
                <div class="col-1 divPicPostagem comentario">
                    <img class="img-fluid profile-pic pic-post col pic-postagem comentario" id="dropdownBotao" src="~/imgs/perfil.png">
                </div>
                <div class="row divPostagemInfo">
                    <a class="post-nome comentario row" href="@Url.Action("Index","Perfil", new{@id = comentario.Perfil.Id})">@comentario.Perfil.Nome @comentario.Perfil.Sobrenome</a>
                    <a class="post-tempo comentario row">@comentario.DataComentario</a>
                    <a class="post-conteudo comentario row"> @comentario.Descricao</a>

                </div>
            </div>
        </div>
    }
}
else
{
    <a class="post-nome comentario"> Sem comentários...</a>
}

<form asp-action="PublicarComentario" asp-controller="Publicacao">
    <div class="modal-footer row">
        <div class="col">
            <input type="hidden" name="IdPublicacao" value="@ViewBag.IdPublicacao" />
            <textarea class="form-control txtPublicacao input inputTxtPublicacao comentario col-4" rows="3" id="message-text" name="textoPublicacao" placeholder="No que você está pensando?"></textarea></span>
        </div>
        <button type="submit" class="btn btn-primary btnPublicar col-2">Comentar</button>
    </div>
</form>

