@using ProjetoFatec.ViewModels
@{
    var perfil = ViewData["PerfilUsuario"] as Perfil;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <p><strong>Nome</strong>:  @perfil.Nome</p>
    <p><strong>Sobrenome</strong>: @perfil.Sobrenome</p>
    <p><strong>Email</strong>: @perfil.Usuario.Email</p>
    <p><strong>Telefone</strong>: @perfil.Telefone</p>
    <p><strong>Nome do curso</strong>: @perfil.NomeCurso</p>
    <p><strong>Semestre atual</strong>: @perfil.SemestreAtual</p>
</div>
