@using ProjetoFatec.Application.DTOs
@model PostViewModel;
@{
    var perfil = ViewData["PerfilUsuario"] as Perfil;
    List<Publicacao> publicacoes = new List<Publicacao>();
    publicacoes = ViewData["Publicacoes"] as List<Publicacao>;
    
}

<div class="container">
    <div class="container divHome">
<div class="container divHomePrincipal">
    <div class="container-fluid divPost justify-content-between">
        <div class="col divPic">
            <img class="img-fluid profile-pic pic-post" id="dropdownBotao" src="./imgs/kevin.jpg">
        </div>
        <a class="row divPostar" href="#" data-bs-toggle="modal" data-bs-target="#modalPostagem">
            Criar publicação
        </a>
    </div>
</div>
@if(perfil.Amigos.Where(a=>a.Status == ProjetoFatec.Domain.Enums.StatusAmizadeEnum.Pendente).Any())
{
            
            <div class="divSolicitacaoAmizade">
                @foreach (var amigo in perfil.Amigos.Where(a => a.Status == ProjetoFatec.Domain.Enums.StatusAmizadeEnum.Pendente && a.IdPerfilSolicitado == perfil.Id).ToList()){
                <form asp-action="RespostaPedidoAmizade" method="post" asp-controller="Perfil">
                    <div class="divSolicitacaoAmizadePerfil">
                        <div class="col-1 divPicPostagem amigo">
                            <img class="img-fluid profile-pic pic-post col pic-postagem amigo" id="dropdownBotao" src="./imgs/perfil.png">
                        </div>
                        <div class="col divPostagemInfo amigo">
                            <a class="post-nome amizade row" href="#">@amigo.PerfilSolicitante.Nome @amigo.PerfilSolicitante.Sobrenome</a>
                            <a class="mensagem amizade row">Gostaria de se conectar com você</a>
                            <div class="btnAceitarRecusar">
                                    <input type="hidden" name="idSolicitante" value="@amigo.IdPerfilSolicitante"/>
                                    <input type="hidden" name="idSolicitado" value="@amigo.IdPerfilSolicitado" />
                                    <button class="btn btn-default btnAceitar" name="acao" value="1">Aceitar</button>
                                    <button class="btn btn-default btnRecusar" name="acao" value="0">Recusar</button>
                            </div>
                        </div>
                    </div>
                </form>
                }
            </div>
           
}

@if (ViewBag.Erro != null)
{
    <div class="alert alert-danger  container divHomePrincipal" role="alert">
        @ViewBag.Erro
    </div>
}

<div class="container-fluid modal fade modal-publicar" id="modalPostagem" tabindex="-1" aria-labelledby="modalPostagem" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Criar publicação</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
            <div class="modal-body">

                <form asp-action="PublicarPostagem" asp-controller="Publicacao" method="post" enctype="multipart/form-data">
                    <div class="modal-body">
                
                            <div class="mb-3">
                        <textarea class="form-control txtPublicacao input inputTxtPublicacao" rows="3" id="message-text" name="textoPublicacao" placeholder="No que você está pensando?" asp-for=postagem></textarea><span asp-validation-for="postagem"></span>
                            </div>
                        <a class="fa-solid fa-image fa-2xl img-upload" id="btnShowUpload" style="color: #9b3737; width: 100px;" href="#"></a>
                        <fieldset class="upload_dropZone text-center mb-3 p-4" id='upload_dropzone' >

                            <legend class="visually-hidden">Image uploader</legend>

                            <svg class="upload_svg" width="60" height="60" aria-hidden="true">
                                <use href="#icon-imageUpload"></use>
                            </svg>

                            <p class="small my-2">Arraste &amp; solte imagens dentro deste quadro<br><i>ou</i></p>
                            <input id="formFile" class="form-control input position-absolute invisible" type="file" name="imagem" accept="image/jpeg, image/png, image/svg+xml" />
                            <label class="btn btn-upload mb-3" for="formFile" asp-for="imagem">Escolha o arquivo de imagem</label>

                            <div class="upload_gallery d-flex flex-wrap justify-content-center gap-3 mb-0"></div>

                        </fieldset>
                
                          
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary btnPublicar">Publicar</button>
                    </div>
                    </form>
                        
                    
                </div>
                </div>
            </div>
</div>

</div>
@if(publicacoes != null  || publicacoes.Count != 0){
    @foreach(var pub in publicacoes){
    <div class="container divHomePrincipalPostagens">
            <div class="container-fluid divPoste" style="background-color:white;">
                <div class="row-4 divPostagem" href="#">
                    <div class="col-1 divPicPostagem">
                        <img class="img-fluid profile-pic pic-post col pic-postagem" id="dropdownBotao" src="./imgs/perfil.png">
                    </div>
                    <div class="row divPostagemInfo">
                        <a class="post-nome row" href="@Url.Action("Index","Perfil", new{@id = pub.Perfil.Id})">@pub.Perfil.Nome @pub.Perfil.Sobrenome</a>
                        <a class="post-curso row">@pub.Perfil.NomeCurso, @pub.Perfil.SemestreAtual</a>
                            @{
                                var hora = DateTime.Now - pub.DataCriacao;
                                if (hora.Days < 1)
                                {
                                    if(hora.Hours >= 1)
                                    {
                                        if (hora.Hours == 1)
                                        {
                                            <a class="post-tempo row">@((DateTime.Now - pub.DataCriacao).Hours) hora atrás </a>
                                        }
                                        else
                                        {
                                            <a class="post-tempo row">@((DateTime.Now - pub.DataCriacao).Hours) horas atrás </a>
                                        }
                                    }
                                    else
                                    {
                                        if (hora.Minutes == 1)
                                        {
                                            <a class="post-tempo row">@(
                                                  (DateTime.Now - pub.DataCriacao).Minutes
                                                  ) minuto atrás </a>
                                        }
                                        else
                                        {
                                            if (hora.Minutes < 1)
                                            {
                                                <a class="post-tempo row">@(
                                                      (DateTime.Now - pub.DataCriacao).Seconds
                                                      ) segundos atrás </a>
                                            }
                                            else
                                            {
                                                <a class="post-tempo row">@(
                                                      (DateTime.Now - pub.DataCriacao).Minutes
                                                      ) minutos atrás </a>
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    if ((DateTime.Now - pub.DataCriacao).Days == 1)
                                    {
                                        <a class="post-tempo row">@((DateTime.Now - pub.DataCriacao).Days) dia atrás </a>
                                    }
                                    else
                                    {
                                        <a class="post-tempo row">@((DateTime.Now - pub.DataCriacao).Days) dias atrás </a>
                                    }
                                }
                            }
                        
                    </div>
                </div>
                <div class="row-col-4 divPostagemInfos">
                    <p class="post-conteudo row">@pub.Legenda</p>
                    @if(pub.CaminhoFoto != null)
                        {
                        <img src="@pub.CaminhoFoto.Remove(0,8)" class="img img-fluid mx-auto d-block img-post" />
                        }<br/>
                    <a class="post-qtdLike col"><span class=" fa-regular fa-heart"></span> 0 Likes</a>

                    <hr/>
                    <div class="botoesPost row">
                        <a class="btn post-btnLike col">
                            <span class=" fa-regular fa-heart"></span> Gostei
                        </a>
                        <a class="btn post-btnComentar col"> <span class=" fa-regular fa-comment"></span> Comentar</a>
                        <a class="btn post-btnCompartilhar col"><span class=" fa-solid fa-share"></span> Compartilhar</a>
                    </div>
                </div>

            </div>


    </div>
    }
}
else{
    <a>Não existem postagens :(</a>
}
</div>